<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	maxImageWidth="2000"
	maxImageHeight="1100"
	galleryTitle="Benjamin"
	showOpenButton="false"
	showExpandButton="false"
	showThumbsButton="false"
	useThumbDots="false"

>
  <image imageURL="https://dl.dropboxusercontent.com/1/view/oj1m1m4oh8x9kf4/smithphotos/images/01.jpg"
	thumbURL="https://dl.dropboxusercontent.com/1/view/h3ax9seen6pojkj/smithphotos/thumbs/01.jpg"
	linkURL="images/01.jpg"
	linkTarget="_blank"
	sourcePath="S:\archaeosmith\01.JPG">
    <title><![CDATA[01]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dl.dropboxusercontent.com/1/view/wf700emphgfnvw0/smithphotos/images/02.jpg"
	thumbURL="https://dl.dropboxusercontent.com/1/view/a8hfd1mbdd4zss6/smithphotos/thumbs/02.jpg"
	linkURL="images/02.jpg"
	linkTarget="_blank"
	sourcePath="S:\archaeosmith\02.JPG">
    <title><![CDATA[02]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dl.dropboxusercontent.com/1/view/6t7j6co4ze7huq5/smithphotos/images/03.jpg"
	thumbURL="https://dl.dropboxusercontent.com/1/view/gukpu7qnje0h3ss/smithphotos/thumbs/03.jpg"
	linkURL="images/03.jpg"
	linkTarget="_blank"
	sourcePath="S:\archaeosmith\03.JPG">
    <title><![CDATA[03]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dl.dropboxusercontent.com/1/view/k41ngztvx5wg3o1/smithphotos/images/04.jpg"
	thumbURL="https://dl.dropboxusercontent.com/1/view/hyr2xhe2616nh2z/smithphotos/thumbs/04.jpg"
	linkURL="images/04.jpg"
	linkTarget="_blank"
	sourcePath="S:\archaeosmith\04.JPG">
    <title><![CDATA[04]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dl.dropboxusercontent.com/1/view/17o8g5xu3zl54bn/smithphotos/images/05.jpg"
	thumbURL="https://dl.dropboxusercontent.com/1/view/ut2otkttxq9jerg/smithphotos/thumbs/05.jpg"
	linkURL="images/05.jpg"
	linkTarget="_blank"
	sourcePath="S:\archaeosmith\05.JPG">
    <title><![CDATA[05]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dl.dropboxusercontent.com/1/view/s7ui4qt8megqn2r/smithphotos/images/06.jpg"
	thumbURL="https://dl.dropboxusercontent.com/1/view/zmiledwls7shn67/smithphotos/thumbs/06.jpg"
	linkURL="images/06.jpg"
	linkTarget="_blank"
	sourcePath="S:\archaeosmith\06.JPG">
    <title><![CDATA[06]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dl.dropboxusercontent.com/1/view/t0o7vigkedusucu/smithphotos/images/07.jpg"
	thumbURL="https://dl.dropboxusercontent.com/1/view/mjnphqhbzz4yb0b/smithphotos/thumbs/07.jpg"
	linkURL="images/07.jpg"
	linkTarget="_blank"
	sourcePath="S:\archaeosmith\07.JPG">
    <title><![CDATA[07]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dl.dropboxusercontent.com/1/view/co1sl278ve1d2ov/smithphotos/images/08.jpg"
	thumbURL="https://dl.dropboxusercontent.com/1/view/za2hzkvd5h1it7q/smithphotos/thumbs/08.jpg"
	linkURL="images/08.jpg"
	linkTarget="_blank"
	sourcePath="S:\archaeosmith\08.JPG">
    <title><![CDATA[08]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dl.dropboxusercontent.com/1/view/m2fhwumlwc9asxn/smithphotos/images/09.jpg"
	thumbURL="https://dl.dropboxusercontent.com/1/view/eq37odsu8jxme0a/smithphotos/thumbs/09.jpg"
	linkURL="images/09.jpg"
	linkTarget="_blank"
	sourcePath="S:\archaeosmith\09.JPG">
    <title><![CDATA[09]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dl.dropboxusercontent.com/1/view/8ewi7q4shwpquzv/smithphotos/images/10.jpg"
	thumbURL="https://dl.dropboxusercontent.com/1/view/0xbrv1q1ykle7q6/smithphotos/thumbs/10.jpg"
	linkURL="images/10.jpg"
	linkTarget="_blank"
	sourcePath="S:\archaeosmith\10.JPG">
    <title><![CDATA[10]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dl.dropboxusercontent.com/1/view/3vgdp80677z0l1i/smithphotos/images/11.jpg"
	thumbURL="https://dl.dropboxusercontent.com/1/view/5c91w913i5onqaz/smithphotos/thumbs/11.jpg"
	linkURL="images/11.jpg"
	linkTarget="_blank"
	sourcePath="S:\archaeosmith\11.JPG">
    <title><![CDATA[11]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dl.dropboxusercontent.com/1/view/gqgl8h63rzutzcd/smithphotos/images/12.jpg"
	thumbURL="https://dl.dropboxusercontent.com/1/view/6vpt3drkklsjhsn/smithphotos/thumbs/12.jpg"
	linkURL="images/12.jpg"
	linkTarget="_blank"
	sourcePath="S:\archaeosmith\12.JPG">
    <title><![CDATA[12]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dl.dropboxusercontent.com/1/view/i2s48zbi6qrswoy/smithphotos/images/13.jpg"
	thumbURL="https://dl.dropboxusercontent.com/1/view/1u4d73wu8ku99x5/smithphotos/thumbs/13.jpg"
	linkURL="images/13.jpg"
	linkTarget="_blank"
	sourcePath="S:\archaeosmith\13.JPG">
    <title><![CDATA[13]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dl.dropboxusercontent.com/1/view/vbg60l1e7miaur7/smithphotos/images/14.jpg"
	thumbURL="https://dl.dropboxusercontent.com/1/view/qhkr8x2iw6wii7d/smithphotos/thumbs/14.jpg"
	linkURL="images/14.jpg"
	linkTarget="_blank"
	sourcePath="S:\archaeosmith\14.jpg">
    <title><![CDATA[14]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>
