<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	maxImageWidth="2000"
	maxImageHeight="1100"
	galleryTitle="Benjamin"
	showOpenButton="false"
	showExpandButton="false"
	showThumbsButton="false"
	useThumbDots="false"

>
  <image imageURL="https://dl.dropboxusercontent.com/1/view/gj2ku96udli25lc/smithphotos/images/01.jpg"
	thumbURL="https://dl.dropboxusercontent.com/1/view/ynfvw3hsj4shnqc/smithphotos/thumbs/01.jpg"
	linkURL="images/01.jpg"
	linkTarget="_blank"
	sourcePath="S:\archaeosmith\01.JPG">
    <title><![CDATA[01]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dl.dropboxusercontent.com/1/view/ym6cdz3l98lrqrf/smithphotos/images/02.jpg"
	thumbURL="https://dl.dropboxusercontent.com/1/view/zvoa3fhps1mvc30/smithphotos/thumbs/02.jpg"
	linkURL="images/02.jpg"
	linkTarget="_blank"
	sourcePath="S:\archaeosmith\02.JPG">
    <title><![CDATA[02]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dl.dropboxusercontent.com/1/view/k35nqwfzcwhxks2/smithphotos/images/03.jpg"
	thumbURL="https://dl.dropboxusercontent.com/1/view/09vkjcc8lmu8y9k/smithphotos/thumbs/03.jpg"
	linkURL="images/03.jpg"
	linkTarget="_blank"
	sourcePath="S:\archaeosmith\03.JPG">
    <title><![CDATA[03]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dl.dropboxusercontent.com/1/view/mk1dqh6r0trqogj/smithphotos/images/04.jpg"
	thumbURL="https://dl.dropboxusercontent.com/1/view/g0qgvjvrld55dv4/smithphotos/thumbs/04.jpg"
	linkURL="images/04.jpg"
	linkTarget="_blank"
	sourcePath="S:\archaeosmith\04.JPG">
    <title><![CDATA[04]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dl.dropboxusercontent.com/1/view/beelxk4ste473ng/smithphotos/images/05.jpg"
	thumbURL="https://dl.dropboxusercontent.com/1/view/94phvdynyvlmwt9/smithphotos/thumbs/05.jpg"
	linkURL="images/05.jpg"
	linkTarget="_blank"
	sourcePath="S:\archaeosmith\05.JPG">
    <title><![CDATA[05]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dl.dropboxusercontent.com/1/view/xu6sc6em1s06cfv/smithphotos/images/06.jpg"
	thumbURL="https://dl.dropboxusercontent.com/1/view/oh80lrqk3a0cwwm/smithphotos/thumbs/06.jpg"
	linkURL="images/06.jpg"
	linkTarget="_blank"
	sourcePath="S:\archaeosmith\06.JPG">
    <title><![CDATA[06]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dl.dropboxusercontent.com/1/view/f2h031bxe9fn4o4/smithphotos/images/07.jpg"
	thumbURL="https://dl.dropboxusercontent.com/1/view/0zrfk4p8r0p3s71/smithphotos/thumbs/07.jpg"
	linkURL="images/07.jpg"
	linkTarget="_blank"
	sourcePath="S:\archaeosmith\07.JPG">
    <title><![CDATA[07]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dl.dropboxusercontent.com/1/view/uno1a2dlcax34x2/smithphotos/images/08.jpg"
	thumbURL="https://dl.dropboxusercontent.com/1/view/jyfv1mxgkkapict/smithphotos/thumbs/08.jpg"
	linkURL="images/08.jpg"
	linkTarget="_blank"
	sourcePath="S:\archaeosmith\08.JPG">
    <title><![CDATA[08]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dl.dropboxusercontent.com/1/view/nakg5gwdtouball/smithphotos/images/09.jpg"
	thumbURL="https://dl.dropboxusercontent.com/1/view/is88u7zjhipbv4y/smithphotos/thumbs/09.jpg"
	linkURL="images/09.jpg"
	linkTarget="_blank"
	sourcePath="S:\archaeosmith\09.JPG">
    <title><![CDATA[09]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dl.dropboxusercontent.com/1/view/vje4z54d8nb8p3e/smithphotos/images/10.jpg"
	thumbURL="https://dl.dropboxusercontent.com/1/view/kxjg36njbg7vr4v/smithphotos/thumbs/10.jpg"
	linkURL="images/10.jpg"
	linkTarget="_blank"
	sourcePath="S:\archaeosmith\10.JPG">
    <title><![CDATA[10]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dl.dropboxusercontent.com/1/view/kzdhn204pntd0jl/smithphotos/images/11.jpg"
	thumbURL="https://dl.dropboxusercontent.com/1/view/iyptb2asfubv4ot/smithphotos/thumbs/11.jpg"
	linkURL="images/11.jpg"
	linkTarget="_blank"
	sourcePath="S:\archaeosmith\11.JPG">
    <title><![CDATA[11]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dl.dropboxusercontent.com/1/view/q7j4xewy04tswin/smithphotos/images/12.jpg"
	thumbURL="https://dl.dropboxusercontent.com/1/view/xmd5v5rih5c9613/smithphotos/thumbs/12.jpg"
	linkURL="images/12.jpg"
	linkTarget="_blank"
	sourcePath="S:\archaeosmith\12.JPG">
    <title><![CDATA[12]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dl.dropboxusercontent.com/1/view/c8upga0uxcwgp0u/smithphotos/images/13.jpg"
	thumbURL="https://dl.dropboxusercontent.com/1/view/kl4s7odda5llmdh/smithphotos/thumbs/13.jpg"
	linkURL="images/13.jpg"
	linkTarget="_blank"
	sourcePath="S:\archaeosmith\13.JPG">
    <title><![CDATA[13]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dl.dropboxusercontent.com/1/view/jw3b84h4l4cmzi5/smithphotos/images/14.jpg"
	thumbURL="https://dl.dropboxusercontent.com/1/view/02ypbvot59r6zvv/smithphotos/thumbs/14.jpg"
	linkURL="images/14.jpg"
	linkTarget="_blank"
	sourcePath="S:\archaeosmith\14.jpg">
    <title><![CDATA[14]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>
