<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	maxImageWidth="2000"
	maxImageHeight="1100"
	galleryTitle="Benjamin"
	showOpenButton="false"
	showExpandButton="false"
	showThumbsButton="false"
	useThumbDots="false"

>
  <image imageURL="https://dl.dropboxusercontent.com/1/view/lobuhopsdtk0bv9/smithphotos/images/01.jpg"
	thumbURL="https://dl.dropboxusercontent.com/1/view/l4uptoyofs1diaz/smithphotos/thumbs/01.jpg"
	linkURL="images/01.jpg"
	linkTarget="_blank"
	sourcePath="S:\archaeosmith\01.JPG">
    <title><![CDATA[01]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dl.dropboxusercontent.com/1/view/7n9ssm5urux3wtq/smithphotos/images/02.jpg"
	thumbURL="https://dl.dropboxusercontent.com/1/view/soe4bj1h23dx898/smithphotos/thumbs/02.jpg"
	linkURL="images/02.jpg"
	linkTarget="_blank"
	sourcePath="S:\archaeosmith\02.JPG">
    <title><![CDATA[02]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dl.dropboxusercontent.com/1/view/bid86121po89je0/smithphotos/images/03.jpg"
	thumbURL="https://dl.dropboxusercontent.com/1/view/3n0vuovwbqidnxx/smithphotos/thumbs/03.jpg"
	linkURL="images/03.jpg"
	linkTarget="_blank"
	sourcePath="S:\archaeosmith\03.JPG">
    <title><![CDATA[03]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dl.dropboxusercontent.com/1/view/0eeule6bfzlqva4/smithphotos/images/04.jpg"
	thumbURL="https://dl.dropboxusercontent.com/1/view/hnhbtd9ol8vx9v3/smithphotos/thumbs/04.jpg"
	linkURL="images/04.jpg"
	linkTarget="_blank"
	sourcePath="S:\archaeosmith\04.JPG">
    <title><![CDATA[04]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dl.dropboxusercontent.com/1/view/i5kci185x6c52x1/smithphotos/images/05.jpg"
	thumbURL="https://dl.dropboxusercontent.com/1/view/efqkg4g82qtu0jn/smithphotos/thumbs/05.jpg"
	linkURL="images/05.jpg"
	linkTarget="_blank"
	sourcePath="S:\archaeosmith\05.JPG">
    <title><![CDATA[05]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dl.dropboxusercontent.com/1/view/4aplhy76jp22fh3/smithphotos/images/06.jpg"
	thumbURL="https://dl.dropboxusercontent.com/1/view/ggpx354idz6j9bz/smithphotos/thumbs/06.jpg"
	linkURL="images/06.jpg"
	linkTarget="_blank"
	sourcePath="S:\archaeosmith\06.JPG">
    <title><![CDATA[06]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dl.dropboxusercontent.com/1/view/p63ybwz4ks4nd5r/smithphotos/images/07.jpg"
	thumbURL="https://dl.dropboxusercontent.com/1/view/u88cu6k5n0q9fj6/smithphotos/thumbs/07.jpg"
	linkURL="images/07.jpg"
	linkTarget="_blank"
	sourcePath="S:\archaeosmith\07.JPG">
    <title><![CDATA[07]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dl.dropboxusercontent.com/1/view/vkszs8i9skekuh8/smithphotos/images/08.jpg"
	thumbURL="https://dl.dropboxusercontent.com/1/view/v7syjostww3ii4k/smithphotos/thumbs/08.jpg"
	linkURL="images/08.jpg"
	linkTarget="_blank"
	sourcePath="S:\archaeosmith\08.JPG">
    <title><![CDATA[08]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dl.dropboxusercontent.com/1/view/7u91fi4048vajhy/smithphotos/images/09.jpg"
	thumbURL="https://dl.dropboxusercontent.com/1/view/iejyterrnly2r2d/smithphotos/thumbs/09.jpg"
	linkURL="images/09.jpg"
	linkTarget="_blank"
	sourcePath="S:\archaeosmith\09.JPG">
    <title><![CDATA[09]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dl.dropboxusercontent.com/1/view/pcr84cqs8lizyrg/smithphotos/images/10.jpg"
	thumbURL="https://dl.dropboxusercontent.com/1/view/alozk0p4u63wf8u/smithphotos/thumbs/10.jpg"
	linkURL="images/10.jpg"
	linkTarget="_blank"
	sourcePath="S:\archaeosmith\10.JPG">
    <title><![CDATA[10]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dl.dropboxusercontent.com/1/view/o680gnz8twejqdi/smithphotos/images/11.jpg"
	thumbURL="https://dl.dropboxusercontent.com/1/view/si6t1sfpyzuljc8/smithphotos/thumbs/11.jpg"
	linkURL="images/11.jpg"
	linkTarget="_blank"
	sourcePath="S:\archaeosmith\11.JPG">
    <title><![CDATA[11]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dl.dropboxusercontent.com/1/view/fvuzv9e46x464zk/smithphotos/images/12.jpg"
	thumbURL="https://dl.dropboxusercontent.com/1/view/x4dmgcos8ksll1k/smithphotos/thumbs/12.jpg"
	linkURL="images/12.jpg"
	linkTarget="_blank"
	sourcePath="S:\archaeosmith\12.JPG">
    <title><![CDATA[12]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dl.dropboxusercontent.com/1/view/coze8yvxi0m6xz3/smithphotos/images/13.jpg"
	thumbURL="https://dl.dropboxusercontent.com/1/view/0sgf0l2cllcs0g8/smithphotos/thumbs/13.jpg"
	linkURL="images/13.jpg"
	linkTarget="_blank"
	sourcePath="S:\archaeosmith\13.JPG">
    <title><![CDATA[13]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="https://dl.dropboxusercontent.com/1/view/9d7fzqjnmp9odbb/smithphotos/images/14.jpg"
	thumbURL="https://dl.dropboxusercontent.com/1/view/213dkfh4knd8pcu/smithphotos/thumbs/14.jpg"
	linkURL="images/14.jpg"
	linkTarget="_blank"
	sourcePath="S:\archaeosmith\14.jpg">
    <title><![CDATA[14]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>
